bcrypt==3.1.4
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
Deprecated==1.2.13
Flask==2.0.2
flask_sqlalchemy==2.5.1
flask-migrate==3.1.0
flask_session==0.4.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
marshmallow==3.14.1
packaging==21.3
pyparsing==3.0.6
pymysql==1.0.2
redis==4.1.1
requests==2.27.1
SQLAlchemy==1.4.31
urllib3==1.26.8
Werkzeug==2.0.2
wrapt==1.13.3




